.details {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: rgb(221, 220, 220);
  font-size: 1.5rem;
  line-height: 3rem;

  &__title {
    border-top: 0.7rem solid rgb(81, 77, 131);
    border-bottom: 0.7rem solid rgb(118, 115, 162);
    margin-top: 2rem;
    padding: 2rem 2rem;
    text-align: center;
    letter-spacing: 0.2rem;
    font-size: 3rem;
  }

  &__list {
    list-style: none;
    width: 100vw;
  }

  &__name {
    letter-spacing: 0.4rem;
    padding: 2rem 2rem;
    color: rgb(104, 129, 208);
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
  }

  &__sub {
    color: rgb(73, 145, 108);
    letter-spacing: 0.1rem;
    font-size: 2rem;
    &-episodes {
      color: rgb(75, 108, 215);
    }
  }

  &__link {
    font-size: 1.6rem;
    text-decoration: underline;
    color: white;
    cursor: pointer;

    &:hover {
      color: rgb(111, 127, 121);
    }
  }
}
